/* Color */
:root {
  --blue:  rgb(0, 242, 255);
  --trueBlack: rgb(0, 0, 0);
  --trueWhite: rgb(255, 255, 255);
  --red: rgb(186, 42, 42);
  --black: rgb(0,0,0);
  --white: rgb(255, 255, 255);
}

body {
  overflow: auto !important;
}

.container {
  position: fixed !important;
  top: 0;
  background-color: var(--trueBlack);
  transition: background-color 1.3s ease-out;
  left: 0;
}

.navbar {
  z-index: 100;
}

.light-mode .container {
  background-color: var(--white);
}


/*_________________________________________________ [ Style ] ____________________*/
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar:hover {
  width: 10px;
}

h4, p {
  text-align: center;
}

.text-hello {
  margin-top: 0px;
  font-size: 30px;
}

h4 {
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}

a { 
  text-decoration: none;
  position: relative;
  color: var(--blue);
}


/*_________________________________________________ [ Responsive ] ____________________*/
@media (min-width: 1023px) {

}
@media (max-width: 950px) {
}

@media (max-width: 730px) {

}

@media (max-width: 475px) {
  
}

@media (max-width: 321px) {
  html {
    font-size: 12px;
  }
}

/*________________________________________________________________________________ [ light-mode ] ____________________*/