
body {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.main {
    min-height: 90vh;
}

.navbar {
    background-color: black;
}

.light-mode .navbar {
    background-color: rgb(255, 255, 255);
}


/*__________________ [ Style ] _________________________________________________________________*/
span.title {
    width: 100%;
    margin: 0 0 50px 0;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    text-shadow: rgba(193, 176, 176, 0.956) 0px 5px 15px;
}

.project {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.card_profile {
    background-color: aliceblue;
    width: 300px;
    display: flex;
    flex-direction: column;
}
/* ul.contacts li {
} */
ul.contacts li a {
    color: black;
    display: flex;
}
ul.contacts li ion-icon {
    font-size: 50px;
}
.list_project {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

a.item_project {
    width: 100%;
    background-color: aliceblue;
    height: 200px;
    display: flex;
    overflow: hidden;
}

img.preview {
    width: 300px;
    /* border-radius: 10px;
    border: 2px double rgb(235, 28, 231);
    box-shadow: rgba(255, 83, 3, 0.842) 0px 5px 15px; */
}
img.preview:hover{
    width: 320px;
    /* border-radius: 10px;
    border: 2px double rgb(235, 28, 231);
    box-shadow: rgba(255, 83, 3, 0.842) 0px 5px 15px; */
}
.content_project {
    
}





























/* .div_link {
    width: 100%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;


    position: absolute;
    top: 0;
    left: 0;
} */

/* .div_link:hover {
    background-color: rgba(0, 0, 0, 0.345);
    opacity: 1;
} */

/* .item_project:nth-child(1) {
    display: none;
} */

/* a.link_project {
    background-color: rgb(251, 251, 251);
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
} */
/* a.link_project:hover {
    transform: scale(1.1);
    transition: .5s ease-in;
    background-image: linear-gradient(45deg, rgba(246, 0, 250, 0.63) 28%, rgba(0, 238, 255, 0.78) 100%);
} */
