/* Color */
:root {
  --blue:  rgb(0, 242, 255);
  --trueBlack: rgb(0, 0, 0);
  --trueWhite: rgb(255, 255, 255);
  --red: rgb(186, 42, 42);
  --black: rgb(0,0,0);
  --white: rgb(255, 255, 255);

  --max-witdh: 1208px;
}

body {
  overflow: auto !important;
  background-color: unset;
  padding: 0px;
  margin: 0px;
  height: unset;
}

.container {
  position: fixed !important;
  top: 0;
  /* background-size: 100% 100%;
  background-position: 0px 0px; */
  background-image: linear-gradient(0deg, #00000000 1%, rgb(0, 0, 0) 99%);
  backdrop-filter: blur(10px);
  /* transition: background-color 1.3s ease-out; */
  left: 0;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.navbar {
  z-index: 100;
}

.light-mode .container {
  background-color: var(--white);
}


/*_________________________________________________ [ Style ] ____________________*/
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar:hover {
  width: 0px;
}

h4, p {
  text-align: center;
}

h4 {
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}

a { 
  text-decoration: none;
  position: relative;
  color: var(--blue);
}

ul {
  list-style: none;
}

/*_________________________________________________ [ Responsive ] ____________________*/

.main {
  background-color: var(--trueBlack);
  height: 2000px;
  top: 0px;
  display: block;
}

.background_img {
  height: 300px;
  width: 100vw;
  z-index: 1;
}
.background_img img {
  width: 100vw;
  height: 100%;
  /* background-image: ; */
  object-fit: cover;
  z-index: 1;
}

.name_basic {
  height: 100px;
  background-color: rgb(43, 41, 41);
  display: flex;
  align-items: center;

  z-index: 999;
}

.name_center {
  width: var(--max-witdh);
  margin: auto;
  height: 100px;
  padding: 0px 20px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name_left {
  display: flex;
  align-items: center;
}

.img_avatar {
  position: relative;
  --x: 200px;
  width: var(--x);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 20px;
}

.img_avatar {
  border-radius: 50%;
  width: 150px;
}

.frame_avatar {
  position: absolute;
  left: -33px;
  top: -25px;
  width: 190px;
}

.status_discord {
  position: absolute;
  bottom: 35px;
  right: 15px;

  --x: 35px;
  width: var(--x);
  height: var(--x);
  border-radius: 50%;
  background-color: var(--red);
  border: 5px solid var(--trueWhite);
}

.true-nick_name {
  display: flex;
  flex-direction: column;
}

.true_name {
  font-size: 32px;
  font-weight: bold;
  color: var(--white);
  line-height: 32px;
}

.nick_name {
  font-size: 20px;
  line-height: 20px;

}

.weiu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.weiu li {
  margin-right: 10px;
}
.weiu li:nth-last-child() {
  margin-right: unset;
}

.more_options {
  display: flex;
}
.more_options_ {
  cursor: pointer;

}
.more_options div {
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgb(110, 109, 109);
  text-align: center;
  display: flex;
  align-items: center;
}
.more_options ion-icon {
  font-size: 20px;
}
.follow_icon {
  margin-right: 5px;

}
.like {
  margin-left: 10px;
}
/*_________________________________________________ [ Main ] ____________________*/
.main_about_scroll-child {
  width: var(--max-witdh);
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 17px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(94, 93, 93);
  border-radius: 10px;

}

.menu_options {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 5px;
  /* padding-bottom: 5px; */

  border-bottom: 1px solid rgb(0, 255, 255);

}
.menu_options li {
  cursor: pointer;
  padding: 0px 0px 10px 0px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease-out;
}
.menu_options li:hover {
  border-bottom: 3px solid rgb(255, 0, 221);
}

.img_banner {
  width: 60%;
  border-radius: 30px;
  object-fit: cover;
}
/*_________________________________________________ [ Responsive ] ____________________*/
@media (min-width: 1023px) {

}
@media (max-width: 950px) {
}

@media (max-width: 730px) {

}

@media (max-width: 475px) {
  
}

@media (max-width: 321px) {
  html {
    font-size: 12px;
  }
}

/*________________________________________________________________________________ [ light-mode ] ____________________*/